html {
    background-color: white;
    font-family: 'Bebas Neue';
}

img {
    width: 80%;
    height: auto;

}

body {
    margin: 0;
    padding: 0;
}

.drop-button {
    background-color: #f4c02a;
    color: black;
    text-align: left;
    font-size: 20px;
    font-family: 'Bebas Neue';
    vertical-align: middle;
    border: none;
    position: relative;
    z-index: 1;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1 !important;
    font-size: 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {background-color: #dddd;}

.dropdown:hover .drop-content {display: block;}

.dropdown:hover .drop-button {
    background-color: #31B4E8; 
    color: white;
}

.subtitle-smaller {
    color: black;
    font-size: 3vw;
    font-family: 'Bebas Neue';
    text-align: center;
    vertical-align: middle;
    font-stretch: ultra-condensed;
    position: relative;
}

.home-text {
    color: black;
    font-size: 6vw;
    font-family: 'Bebas Neue';
    text-align: center;
    vertical-align: middle;
    font-stretch: ultra-condensed;
    position: relative;
}

.home-text-blue {
    color: #31B4E8;
    font-size: 6vw;
    font-family: 'Bebas Neue';
    text-align: center;
    vertical-align: middle;
    font-stretch: ultra-condensed;
    position: relative;
}

.yellow {
    color: #f4c02a;
}

.blue {
    color: #31B4E8;
}

.blue-subtitle {
    color: #31B4E8;
    font-size: 4vw;
    font-family: 'Bebas Neue';
    text-align: center;
    vertical-align: middle;
    font-stretch: ultra-condensed;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.blue-subtitle-no-margin {
    color: #31B4E8;
    font-size: 4vw;
    font-family: 'Bebas Neue';
    text-align: center;
    vertical-align: middle;
    font-stretch: ultra-condensed;
    position: relative;
}

.subtitle {
    color: black;
    font-size: 4vw;
    font-family: 'Bebas Neue';
    text-align: center;
    vertical-align: middle;
    font-stretch: ultra-condensed;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.subtitle-icon {
    color: black;
    font-size: 4vw;
    font-family: 'Bebas Neue';
    text-align: center;
    vertical-align: middle;
    font-stretch: ultra-condensed;
    position: relative;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
    padding-left: 40px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  
  .fa-check {
    color: green;
  }
  
  .fa-remove {
    color: red;
  }

.blue-non-caps {
    color: #31B4E8;
    font-family: 'Arvo';
}

.center-image {
    display: block;
    width: 30%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.center-image-small {
    display: block;
    width: 20%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.left-image-small {
    display: inline-block;
    width: 20%;
    padding-top: 10px;
    padding-left: 50px;
}

.right-image-small {
    display: inline-block;
    width: 20%;
    padding-top: 10px;
}

.blue-bar {
    fill: #31B4E8;
    position: sticky;
    margin-top: -10px;
}

.headshots {
    display: flex;
}

.ha { 
    flex: 0.7709;
    padding-left: 60px;
}

.hk { flex: 0.8001; }
.hr { flex: 0.8976; }
.ht { flex: 0.8444; }

.headshots {
    margin-left: 25px;
}

.under-img {
    display: flex;
    font-size: 4vw;
}

.under-img-small {
    display: flex;
    font-size: 2vw;
}

.ac { margin-left: 100px; }
.kl { margin-left: 110px; }
.rs { margin-left: 140px; }
.tt { margin-left: 80px; }
.acs { margin-left: 100px; }
.kls { margin-left: 145px; }
.rss { margin-left: 232px; }
.tts { margin-left: 155px; }
